Source: ros-humble-elite-robots-controllers
Section: misc
Priority: optional
Maintainer: "Yan" <yanxiaojia@elibot.cn>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-angles, ros-humble-controller-interface, ros-humble-elite-robots-msgs, ros-humble-generate-parameter-library, ros-humble-hardware-interface, ros-humble-joint-trajectory-controller, ros-humble-lifecycle-msgs, ros-humble-pluginlib, ros-humble-rclcpp, ros-humble-rclcpp-lifecycle, ros-humble-rcpputils, ros-humble-rcutils, ros-humble-realtime-tools, ros-humble-std-msgs, ros-humble-std-srvs, ros-humble-ros-workspace
Homepage: https://index.ros.org/p/elite_robots_controllers/#humble
Standards-Version: 3.9.2

Package: ros-humble-elite-robots-controllers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-angles, ros-humble-controller-interface, ros-humble-elite-robots-msgs, ros-humble-generate-parameter-library, ros-humble-hardware-interface, ros-humble-joint-trajectory-controller, ros-humble-lifecycle-msgs, ros-humble-pluginlib, ros-humble-rclcpp, ros-humble-rclcpp-lifecycle, ros-humble-rcpputils, ros-humble-rcutils, ros-humble-realtime-tools, ros-humble-std-msgs, ros-humble-std-srvs, ros-humble-ros-workspace
Description: Provides controllers that use the speed scaling interface of Elite CS series robots.
