Source: ros-humble-elite-robots
Section: misc
Priority: optional
Maintainer: "Yan" <yanxiaojia@elibot.cn>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-ros-workspace
Homepage: https://index.ros.org/p/elite_robots/#humble
Standards-Version: 3.9.2

Package: ros-humble-elite-robots
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-elite-cs-series-sdk, ros-humble-elite-robots-calibration, ros-humble-elite-robots-controllers, ros-humble-elite-robots-dashboard-msgs, ros-humble-elite-robots-driver, ros-humble-elite-robots-moveit-config, ros-humble-elite-robots-msgs, ros-humble-ros-workspace
Description: Metapackage providing a single installation point for the Elite Robots ROS 2 packages.
